﻿@model Area
@using System.Linq;
@{ 
    var areaId = $"A{ViewData["AreaIndex"]:D3}";
    var headerId = $"{areaId}_Header";
    var encounterTypeAccordian = $"{areaId}_EncounterTypes";
    var encWeathers = Model.EncounterTables.Select(et => et.Weather).Distinct().OrderBy(w => (int)w);
    int areaPill;
    if (encWeathers.Count() == 1)
    {
        areaPill = Model.EncounterTables.SelectMany(et => et.Pokemon).Distinct().Count();
    }
    else
    {
        areaPill = encWeathers.Where(w => w != Weather.All).Count();
    }
}

<div class="card" data-level="area" data-area-name="@Model.Name" data-weather-count="@encWeathers.Count()">
    <div class="card-header" id="@headerId">
        <div class="mb-0">
            <svg class="icon" style="width: 32px; height: 32px;">
                <use xlink:href="#maps-and-flags" />
            </svg>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@areaId" aria-expanded="false" aria-controls="@areaId">
                @Model.Name
            </button>
            <span class="badge badge-primary badge-pill" hidden>@areaPill</span>
        </div>
    </div>
    <div id="@areaId" class="collapse m-1 ml-3" aria-labelledby="@headerId" data-parent="#areaAccordion">
        @if (encWeathers.Count() == 1)
        {
            var weather = encWeathers.First();
            <h5>
                @{ var iconId = weather.GetIconId(); }
                @if (iconId != null)
                {
                    <svg class="icon" style="width: 32px; height: 32px;">
                        <use xlink:href="#@iconId" />
                    </svg>
                }
                @weather.GetDescription()
            </h5>
            await Html.RenderPartialAsync("Weather", Model.EncounterTables, ViewData);
        }
        else
        {
            <div class="accordion" id="@encounterTypeAccordian">
                @foreach (var weather in encWeathers.Where(w => w != Weather.All))
                {
                    var tables = Model.EncounterTables.Where(et => et.Weather == weather || et.Weather == Weather.All);
                    var typeId = $"{areaId}_{weather}";
                    var typeHeader = $"{typeId}_Header";
                    var accordianId = $"{typeId}_Accordion";
                    var iconId = weather.GetIconId();
                    var weatherPill = tables.SelectMany(t => t.Pokemon).Distinct().Count();
                    <div class="card">
                        <div class="card-header" id="@typeHeader">
                            <div class="mb-0">
                                @if (iconId != null)
                                {
                                    <svg class="icon" style="width: 32px; height: 32px;">
                                        <use xlink:href="#@iconId" />
                                    </svg>
                                }
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@typeId" aria-expanded="false" aria-controls="@typeId">
                                    @weather.GetDescription()
                                </button>
                                <span class="badge badge-primary badge-pill" hidden>@weatherPill</span>
                            </div>
                        </div>
                        <div id="@typeId" class="collapse m-1 ml-3" aria-labelledby="@typeHeader" data-parent="#@encounterTypeAccordian">
                            @{
                                await Html.RenderPartialAsync("Weather", tables, ViewData);
                            }
                        </div>
                    </div>
                }
            </div>
        }
        </div>
</div>