﻿@model EncounterListing
@{
    var encounterType = (EncounterType)ViewData["TableType"];
}

<thead class="thead-light">
    <tr>
        <th scope="colgroup" colspan="2">@encounterType.GetDescription() - Levels @Model.MinimumLevel to @Model.MaximumLevel</th>
    </tr>
</thead>
<tbody>
    @foreach (var pokemon in Model.Pokemon)
    {
        <tr data-pokemon="@pokemon.Name">
            <td><a href="@pokemon.Name.GetSerbiiLink()" target="_blank">@pokemon.Name</a></td>
            <td>@pokemon.Rate%</td>
        </tr>
    }
</tbody>