﻿@model List<SwShEncounters.Models.Area>
@{
    var game = (Game)ViewData["Game"];
    ViewData["Title"] = game.GetDescription();
}

@section NavItems {
    @{ var otherGames = Enum.GetValues(typeof(Game)).Cast<Game>().Where(g => g != game); }
    @if (otherGames.Count() > 0)
    {
        @foreach (var g in otherGames)
        {
            var args = new Dictionary<string, string>()
            {
                    { "game", g.ToString() }
            };
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-all-route-data="args">@g.GetDescription()</a>
            </li>
        }
    }
}

@section NavInlineForm {
    <div class="form-inline">
        <label class="my-1 mr-2 navbar-text" for="pokemon-filter">Filter:</label>
        <input type="text" class="form-control mr-sm-2" id="pokemon-filter" placeholder="All" list="pokemon-list" autocomplete="off" />

        <datalist id="pokemon-list">
            @foreach (var pokemon in Model.SelectMany(a => a.EncounterTables.SelectMany(et => et.Pokemon.Select(p => p.Name))).Distinct().OrderBy(p => p))
            {
                <option>@pokemon</option>
            }
        </datalist>

        <div class="btn-group mt-1 mt-sm-0" role="group">
            <button type="button" class="btn btn-primary" onclick="filterPokemon()">Filter</button>
            <button type="button" class="btn btn-danger" id="clear-filter" onclick="clearFilter()" disabled>Clear Filter</button>
        </div>
    </div>
}

@if (game == Game.Shield)
{
    <div class="alert alert-warning">
        Encounter data for Sword comes from directly parsing data minded encounter data (Thanks to <a href="https://twitter.com/Kaphotics" target="_blank">@("@")Kaphotics</a> for that).<br />
        I was unable to find the same for Shield, so I instead had to go through area by area through <a href="https://www.serebii.net">Serebii's</a> PokeEarth information and update the encounter data
        for Shield. Being so close to launch, the data on Serebii is incomplete in a few areas. I did make some educational guess though (i.e. subtistuting Version Exclusives where it seemed appropriate), but
        this could very well be incorrect. I'll make an effort to try and double check things in a few weeks when, hopefully, Serebii's data is "complete." You can also report issues through the link above.
    </div>
}

<div class="accordion" id="areaAccordion">
    @foreach (var area in Model)
    {
        ViewData["AreaIndex"] = Model.IndexOf(area);
        await Html.RenderPartialAsync("Area", area, ViewData);
    }
</div>

@section Scripts {
    <script src="~/scripts/PokemonEncounters.js" asp-append-version="true"></script>
}
