﻿@model IEnumerable<EncounterListing>

<table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark" data-info="main-header">
        <tr>
            <th scope="col">Pokemon</th>
            <th scope="col">Rate</th>
        </tr>
    </thead>
    @foreach (var table in Model)
    {
        ViewData["TableType"] = table.Type;
        await Html.RenderPartialAsync("EncounterTable", table, ViewData);
    }
</table>